
<head>
    <title>Detalles del product</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="./../../../../assets/imagenes/Tenis/Tenis.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./../../../../assets/imagenes/Tenis/Tenis2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./../../../../assets/imagenes/Tenis/Tenis3.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <p class="newarrival text-center">NEW</p>
                <h2>Tenis Nike Hombre Rojos</h2>
                <p>Product Code: DDFGT23UD</p>
                <p><b>Calificacion:</b><img src="assets/imagenes/Estrellas/Estrella4.jpg" class="stars"></p>
                <p class="price">MXN $800.00</p>
                <p><b>Disponibilidad:</b> In Stock</p>
                <p><b>Condicion:</b> New</p>
                <p><b>Talla:</b> 27</p>
                <p><b>Marca:</b> Imperio Company</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <b><h3>Descripcion:</h3><p></p></b>
                <p>Este product se diseñó de forma responsable,
                exclusivamente con materiales reciclados obtenidos
                de los residuos posconsumo y posfabricación.
                Uno de nuestros grandes pasos en nuestro viaje
                hacia un futuro con huella de carbono cero y cero
                residuos es la elección de nuestros materiales,
                ya que suponen más del 70% de la huella de cualquier product.
                Al reutilizar los plásticos, hilos y tejidos que ya tenemos,
                reducimos notablemente nuestras emisiones.
                Nuestro objetivo es utilizar la máxima cantidad
                de materiales reciclados posible sin afectar al rendimiento,
                la durabilidad o el estilo.
                </p>
                <p>Obtén más información sobre nuestro movimiento Move to Zero hacia cero carbono y cero desechos,
                incluido el modo en el que estamos trabajando para diseñar
                products con la sustentabilidad en mente y, así,
                ayudar a proteger el futuro del lugar donde vivimos y nos divertimos.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <b><h3>Comentarios:</h3></b>
              <!-- Formulario de comentarios -->
              <form>
                  <div class="form-group mb-3">
                      <label for="comentario">Dejanos saber tus comentario sobre el product:</label>
                      <textarea class="form-control" id="comentario" rows="3"></textarea>
                  </div>
                  <div class="form-group mb-3">
                      <label for="calificacion">Calificación final:</label>
                      <select class="form-control" id="calificacion">
                          <option value="5">5 (Muy satisfecho)</option>
                          <option value="4">4 (Satisfecho)</option>
                          <option value="3">3 (Neutral)</option>
                          <option value="2">2 (No muy satisfecho)</option>
                          <option value="1">1 (Insatisfecho)</option>
                      </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="recomendar">¿Recomendaría este product?</label>
                    <select class="form-control" id="recomendar">
                        <option value="si">Sí</option>
                        <option value="no">No</option>

                    </select>
                </div>
                  <button type="submit" class="btn btn-primary">Enviar Comentario</button>
              </form>
          </div>
      </div>
  </div>

</body>

