<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo" style="display: flex; align-items: center; justify-content: center; padding: 0; height: auto; background: transparent; border: none;">
    <img src="assets/imagenes/inicio-sesion.png" alt="Inicio Sesión" style="width: 25px; height: 25px;">
</button>



<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2" id="exampleModal1Label">Inicio de Sesion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form>
                    <div class="form-floating mb-3">
                        <label for="recipient-name" class="form-control rounded-3">Usuario</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="recipient-password" class="form-control rounded-3">Contraseña</label>
                        <input type="password" class="form-control" id="recipient-password">
                    </div>
                </form>
                <h2 class="fs-5">No tienes usuario?</h2>
                <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">Crea tu Usuario</a> </p>
                <div class="container">
                    <div class="container" style="padding:20px;">
                        <h5 style="text-align:center;">
                            <a href="/product/index"> Ingresar productos </a>
                        </h5>
                        <hr>
                        <main>
                            <router-outlet></router-outlet>
                        </main>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary">Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>
