<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo" style="display: flex; align-items: center; justify-content: center; padding: 10px; height: 50px;">
    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" style="width: 80%; height: 80%; max-height: 100%; max-width: 100%;">
        <path d="m24,9v10c0,2.757-2.243,5-5,5H5c-2.757,0-5-2.243-5-5v-10c0-2.757,2.243-5,5-5h4v-1c0-1.654,1.346-3,3-3s3,1.346,3,3v1h4c2.757,0,5,2.243,5,5Zm-13-2h2.001V3c-.001-.552-.45-1-1.001-1s-1,.448-1,1v4Zm-1.5,5.5c0,1.379,1.121,2.5,2.5,2.5s2.5-1.121,2.5-2.5-1.121-2.5-2.5-2.5-2.5,1.121-2.5,2.5Zm7.468,7.251c-.559-2.174-2.648-3.751-4.968-3.751s-4.41,1.577-4.968,3.751c-.138.535.184,1.08.719,1.218.537.139,1.08-.186,1.217-.72.33-1.282,1.633-2.249,3.032-2.249s2.702.967,3.032,2.249c.116.451.522.751.968.751.082,0,.166-.01.25-.031.535-.138.857-.683.719-1.218Z"/>
    </svg>
</button>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal1Label">Inicio de Sesion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Usuario</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-password" class="col-form-label">Contraseña</label>
                        <input type="password" class="form-control" id="recipient-password">
                    </div>
                </form>
                <h2 class="fs-5">No tienes usuario?</h2>
                <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">Crea tu Usuario</a> y se parte del grupo IMPERIO</p>
                <div class="container">
                    <div class="container" style="padding:20px;">
                        <h5 style="text-align:center;">
                            <a href="/product/index"> Ingresar productos </a>
                        </h5>
                        <hr>
                        <main>
                            <router-outlet></router-outlet>
                        </main>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>
