<div class="section-container">
  <div class="container">
    <div class="row justify-content-center">
        <!-- Contenedor 1 <div class="col-3">
        <h5 class="text-center">Servicio al cliente</h5>
        <div>
          <p class="text-center">
            <a href="#">Preguntas frecuentes</a>
            <th></th>
            <a href="#">Ubicación de tiendas</a>
            <th></th>
            <a href="#">Como hacer un pedido</a>
          </p>
        </div>
      </div> -->
      <!-- <div class="col-3">
        <h5 class="text-center">Imperio SC</h5>
        <div>
            <p class="text-center">
              <a class="pb-2" aria-current="page" href="./body-about-us.component.html" role="tabpanel">Sobre nosotros</a>
            </p>
        </div>
      </div> -->
      
      <div class="col-lg-3">
        <h5 class="text-center">Siguenos en Facebook</h5>
        <div>
          <p class="text-center">
            <button class="boton1" title="Facebook">
              <a href="https://www.facebook.com/profile.php?id=100083377987174" 
              title="Facebook" target="_blank" rel="nofollow"> 
                  <i class="fa-brands fa-facebook-f fa-beat" aria-hidden="true"></i></a>
            </button>
          </p>
        </div>
      </div>
      <div class="col-3">
        <h5 class="text-center">Contáctanos</h5>
        <div>
          <p class="text-center">
            <a href="mailto:felipe861@live.com.mx">Escríbenos por email</a>
          </p>
          <p class="text-center">
            <a href="https://www.messenger.com/t/108551791901695" target="_blank">Chatea en Messenger</a>
          </p>
        </div>
      </div>
      
      </div>
    </div>
  </div>


