<div class="section-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <h5 class="text-center">Servicio al cliente</h5>
        <div>
          <p class="text-center">
            <a href="#">Preguntas frecuentes</a>
            <th></th>
            <a href="#">Ubicación de tiendas</a>
            <th></th>
            <a href="#">Como hacer un pedido</a>
          </p>
        </div>
      </div>
      <div class="col-3">
        <h5 class="text-center">Imperio SC</h5>
        <div>
            <p class="text-center">
              <a class="pb-2" aria-current="page" href="#" role="tabpanel">Sobre nosotros</a>
            </p>
        </div>
      </div>
      
      <div class="col-lg-3">
        <h5 class="text-center">Siguenos en redes</h5>
        <div>
          <p class="text-center">
            <button class="boton1" title="Facebook">
              <a href="https://www.facebook.com/imperioshoppingcenter?mibextid=ZbWKwL" 
              title="Facebook" target="_blank" rel="nofollow"> 
                  <i class="fa-brands fa-facebook-f fa-beat" aria-hidden="true"></i></a>
            </button>
            &nbsp;
            <button class="boton1" title="Instagram">
              <a href="https://www.instagram.com/imperioshoppincenter/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" 
              title="Instagram" target="_blank" rel="nofollow"> 
                  <i class="fa-brands fa-instagram fa-beat" aria-hidden="true"></i></a>
            </button>
          </p>
        </div>
      </div>
      <div class="col-3">
        <h5 class="text-center">Contactanos</h5>
        <div>
          <p class="text-center">
            <a href="#">imperioshoppingcenter@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

