.col-lg-3 p button{
    background-color: black;
    width: 30px;
    height: 30px;
}
a:hover{
    color: #0000FF;
} 
a{
    color: black;
    text-decoration:none;
}

.col-lg-3 p button a{
    color: #FFFFFF;
}
.section-container  {
    background-color: #E6E6E6; 
    width: 100%;
    padding: 20px;
  }