<div class="container">

  <div class="d-flex justify-content-between">
    <h4>Editar producto " {{product.name}} "</h4>
    <a href="#" routerLink="/product/index" class="btn btn-primaryt">Atras</a>
  </div>

  <hr>

  <form [formGroup]="form" (ngSubmit)="submit()">


    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="title">Nombre:</label>
        <input
          formControlName="name"
          [(ngModel)]="product.name"
          id="name"
          type="text"
          class="form-control">
      </div>
  </div>


<!-- Offer Enable -->
<div class="form-group row">
<div class="col-md-6">
<label for="offer_enable">Oferta existente:</label>
<select formControlName="offer_enable" id="offer_enable" class="form-control" [(ngModel)]="product.offer_enable">
<option value="Si">Si</option>
<option value="No">No</option>
</select>
</div>
</div>

<!-- Price -->
<div class="form-group row" *ngIf="form.get('offer_enable').value === 'no'">
<div class="col-md-6">
<label for="price">Precio:</label>
<input
formControlName="price"
[(ngModel)]="product.price"
id="price"
type="number"
class="form-control">
</div>
</div>

<!-- Price Offer -->
<div class="form-group row" *ngIf="form.get('offer_enable').value === 'si'">
<div class="col-md-6">
<label for="price_offer">Precio por oferta:</label>
<input
formControlName="price_offer"
[(ngModel)]="product.price_offer"
id="price_offer"
type="number"
class="form-control">
</div>
</div>


<!-- Description -->
<div class="form-group row">
<div class="col-md-6">
<label for="description">Descripción:</label>
<input
formControlName="description"
[(ngModel)]="product.description"
id="description"
type="text"
class="form-control">
</div>
</div>

<!-- Details -->
<div class="form-group row">
<div class="col-md-6">
<label for="details">Detalles:</label>
<input
formControlName="details"
[(ngModel)]="product.details"
id="details"
type="text"
class="form-control">
</div>
</div>

<!-- Stock -->
<div class="form-group row">
<div class="col-md-6">
<label for="stock">Stock:</label>
<input
formControlName="stock"
[(ngModel)]="product.stock"
id="stock"
type="number"
class="form-control">
</div>
</div>

<!-- Category -->
<div class="form-group row">
<div class="col-md-6">
<label for="category">Categoria:</label>
<select formControlName="category" id="category" class="form-control" [(ngModel)]="product.category">
<option value="Calzado">Calzado</option>
<option value="Mochilas y Bolsos">Mochilas y Bolsos</option>
<option value="Accesorios y regalos">Accesorios y regalos</option>
<option value="Hogar">Hogar</option>
<option value="Moda">Moda</option>
<option value="Mascotas">Mascotas</option>
<option value="Libros">Libros</option>
</select>
</div>
</div>


<!-- Size Shoes -->
<div class="form-group row" *ngIf="form.get('category').value === 'Calzado'">
<div class="col-md-6">
<label for="size_shoes">Talla calzado:</label>
<input
formControlName="size_shoes"
[(ngModel)]="product.size_shoes"
id="size_shoes"
type="text"
class="form-control">
</div>
</div>

<!-- Size Fashion -->
<div class="form-group row" *ngIf="form.get('category').value === 'Moda'">
<div class="col-md-6">
<label for="size_fashion">Talla de ropa:</label>
<input
formControlName="size_fashion"
[(ngModel)]="product.size_fashion"
id="size_fashion"
type="text"
class="form-control">
</div>
</div>

<!-- Mark -->
<div class="form-group row">
<div class="col-md-6">
<label for="mark">Marca:</label>
<input
formControlName="mark"
[(ngModel)]="product.mark"
id="mark"
type="text"
class="form-control">
</div>
</div>

<!-- Model -->
<div class="form-group row">
<div class="col-md-6">
<label for="model">Modelo:</label>
<input
formControlName="model"
[(ngModel)]="product.model"
id="model"
type="text"
class="form-control">
</div>
</div>


<!-- Color -->
<div class="form-group row">
<div class="col-md-6">
<label for="color">Color:</label>
<input
formControlName="color"
[(ngModel)]="product.color"
id="color"
type="text"
class="form-control">
</div>
</div>


<!-- Image Ini -->
<div class="form-group row">
<div class="col-md-6">
<label for="image_ini">Imagen principal</label>
<input
formControlName="image_ini"
[(ngModel)]="product.image_ini"
id="image_ini"
type="file"
class="form-control"
accept="image/*">
</div>
</div>

<div class="form-group row">
<div class="col-md-6">
<label for="carrousel_num">Imagenes para carrusel:</label>
<select formControlName="carrousel_num" id="carrousel_num" class="form-control">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</div>
</div>

<div class="form-group row" *ngIf="form.get('carrousel_num').value >= 1">
<div class="col-md-6">
<label for="image_1">Imagen</label>
<input
formControlName="image_1"
[(ngModel)]="product.image_1"
id="image_1"
type="file"
class="form-control"
accept="image/*">
</div>
</div>

<div class="form-group row" *ngIf="form.get('carrousel_num').value >= 2">
<div class="col-md-6">
<label for="image_2">Imagen</label>
<input
formControlName="image_2"
[(ngModel)]="product.image_2"
id="image_2"
type="file"
class="form-control"
accept="image/*">
</div>
</div>

<div class="form-group row" *ngIf="form.get('carrousel_num').value >= 3">
<div class="col-md-6">
<label for="image_3">Imagen</label>
<input
formControlName="image_3"
[(ngModel)]="product.image_3"
id="image_3"
type="file"
class="form-control"
accept="image/*">
</div>
</div>

<div class="form-group row" *ngIf="form.get('carrousel_num').value >= 4">
<div class="col-md-6">
<label for="image_4">Imagen</label>
<input
formControlName="image_4"
[(ngModel)]="product.image_4"
id="image_4"
type="file"
class="form-control"
accept="image/*">
</div>
</div>

<div class="form-group row" *ngIf="form.get('carrousel_num').value >= 5">
<div class="col-md-6">
<label for="image_5">Imagen</label>
<input
formControlName="image_5"
[(ngModel)]="product.image_5"
id="image_5"
type="file"
class="form-control"
accept="image/*">
</div>
</div>

<!-- Image 1 to 5 -->
<!-- ... (Repite el patrón para las imágenes 1 a 5) -->

<!-- Publish Date -->
<div class="form-group row">
<div class="col-md-6">
<label for="publish_date">Fecha de publicación:</label>
<input
formControlName="publish_date"
[(ngModel)]="product.publish_date"
id="publish_date"
type="date"
class="form-control">
</div>
</div>


      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Actualizar</button>
  </form>
</div>
