<div class="container">
  <div class="album py-5 bg-body-tertiary">
    <div class="row row-cols-1 row-cols-md-4 g-4 card-container">
      <ng-container *ngFor="let product of products">
        <div class="card" *ngIf="filterProducts(product, 'Mochilas y Bolsos')">
          <!-- Imagen del producto con modal -->
          <button type="button" class="btn p-0" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal2' + product.id">
            <img [src]="product.image_ini" alt="{{ product.name }}">
          </button>
          <h5 style="color: #000;">{{ product.name }}</h5>
          <p style="color: #111;">{{ product.description }}</p>
          <p style="color: #eeb000; font-weight: bold; font-size: 20px;">Precio: MXN {{ product.price }}</p>
          <!-- Modal para cada producto -->
          <div class="modal fade" [id]="'exampleModal2' + product.id" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ product.name }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <head>
                    <title>Detalles del producto</title>
                </head>
                <body>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                              <div [id]="'carouselExampleInterval' + product.id" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div *ngIf="product.carrousel_num >= 1" class="carousel-item active" data-bs-interval="2000">
                                    <img [src]="product.image_1" class="d-block w-100" alt="...">
                                  </div>
                                  <div *ngIf="product.carrousel_num >= 2" class="carousel-item" data-bs-interval="2000">
                                    <img [src]="product.image_2" class="d-block w-100" alt="...">
                                  </div>
                                  <div *ngIf="product.carrousel_num >= 3" class="carousel-item" data-bs-interval="2000">
                                    <img [src]="product.image_3" class="d-block w-100" alt="...">
                                  </div>
                                  <div *ngIf="product.carrousel_num >= 4" class="carousel-item" data-bs-interval="2000">
                                    <img [src]="product.image_4" class="d-block w-100" alt="...">
                                  </div>
                                  <div *ngIf="product.carrousel_num >= 5" class="carousel-item" data-bs-interval="2000">
                                    <img [src]="product.image_5" class="d-block w-100" alt="...">
                                  </div>
                                  <!-- Otros elementos del carrusel -->
                                </div>
                                <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleInterval' + product.id" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleInterval' + product.id" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>





                            </div>
                            <ng-container>
                            <div class="col-md-7" style="border:darkslategray" >
                                <p class="newarrival text-center">NEW</p>
                                <h2>{{ product.name }}</h2>
                                <p class="price">  MXN {{ product.price }}</p>
                                <p><b>Stock:</b> {{ product.stock }}</p>
                                <p><b>Talla:</b> {{ product.size_shoes }}</p>
                                <p><b>Marca:</b> {{ product.mark }}</p>
                            </div>
                          </ng-container>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <b><h3>Descripcion:</h3><p></p></b>
                                <p>{{ product.details }}
                            </div>
                        </div>
                    </div>
                </body>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
