.container{
    min-height: 400px;
    margin-top: 30px;/* espacio arriba del contenedor*/
    margin-bottom: 30px;/* espacio abajo del contenedor*/
}
.carousel-inner img{
    width: 1250px;
    height: 500px;
}
.carousel-inner {
    text-align: center;
}
.carousel .item > img { 
    display: inline-block; 
}
.container h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}