<div class="container" style="padding:20px;">
	<h1 style="text-align:center;">
		<a href="/product/index"> Full Stack - Angular 10 & Laravel 8 </a>
	</h1>
	<hr>
  <main>
  <router-outlet></router-outlet>
  </main>
</div>


<section>

  <div class="d-flex justify-content-between">
    <h4>List product</h4>
    <a routerLink="/product/create" class="btn btn-success">Create New Product</a>
  </div>

  <br>

  <table class="table ">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>
        <a href="#" [routerLink]="['/product/', 'edit', product.id  ]" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</section>
