<div id="body-about-us">
  <div class="container custom-container-0">
    <!-- Nueva fila para las imágenes -->
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
          <img src="assets/imagenes/Mecanica_de_compra.png" alt="Imagen izquierda" class="image">

        </div>
      </div>
      <div class="col-md-6">
        <div class="image-container">
          <img src="assets/imagenes/Políticas_de_compra.png" alt="Imagen derecha" class="image">
        </div>
      </div>
    </div>
  </div>

  <div class="container custom-container-1">
    <!-- Contenedor 1 -->
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="image-container">
          <img src="assets/imagenes/Modelos/flayer3.jpg" alt="Imagen de fondo" class="image">
          <div class="overlay">
            <h2 class="text-center">¿Quiénes somos?</h2>
            <p class="text-center">
              Somos una empresa dedicada a la venta de ropa americana a menudeo, con una amplia variedad de marcas y la mejor calidad. 
              Con prendas nuevas y seminuevas, nos mantenemos constantemente a la vanguardia de la moda e innovación permanente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container custom-container-2">
    <!-- Contenedor 2 -->
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="image-container">
          <img src="assets/imagenes/Modelos/flayer2.jpg" alt="Imagen de fondo" class="image">
          <div class="overlay">
            <h2 class="text-center">Nuestra Misión</h2>
            <p class="text-center">
              Lograr la completa satisfacción de nuestros clientes, poniendo a su disposición prendas americanas nuevas y seminuevas 
              a un precio accesible con el fin de resolver eficientemente sus necesidades y contribuir al medio ambiente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container custom-container-3">
    <!-- Contenedor 3 -->
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="image-container">
          <img src="assets/imagenes/Modelos/flayer4.jpg" alt="Imagen de fondo" class="image">
          <div class="overlay">
            <h2 class="text-center">Nuestra Visión</h2>
            <p class="text-center">
              Mantenernos a la vanguardia de las amplias tendencias en la moda que se transmiten a nuestra sociedad y el desarrollo 
              de nuestro personal para posicionarnos entre los líderes de nuestro mercado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
