<div class="container custom-container-1">
  <!-- Contenedor 1 -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="image-container">
        <img src="\assets\imagenes\Modelos\InicioImperioSC7.jpg" alt="Imagen de fondo" class="image">
        <div class="overlay">
          <h2 class="text-center">¿Quiénes somos?</h2>
          <div>
            <p class="text-center">
              Somos mucho más que un simple negocio minorista de moda y estilo de vida.
            </p>
            <p class="text-center">
              Estamos comprometidos a brindar a nuestros valiosos clientes una amplia gama de products de alta calidad.
            </p>
            <p class="text-center">
              Nos esforzamos constantemente por ofrecer la mejor experiencia de compra y acceso a una selección diversa de products para nuestros clientes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container custom-container-2">
  <!-- Contenedor 2 -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="image-container">
        <img src="\assets\imagenes\Modelos\InicioImperioSC12.jpg" alt="Imagen de fondo" class="image">
        <div class="overlay">
          <h2 class="text-center">Nuestra Misión</h2>
          <div>
            <p class="text-center">
              Proporcionar experiencia de compra excepcional con products de moda y estilo de vida accesibles y de alta calidad.
              Servir a clientes en toda la República Mexicana con una selección diversa y atractiva de products.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container custom-container-3">
  <!-- Contenedor 3 -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="image-container">
        <img src="\assets\imagenes\Modelos\InicioImperioSC4.jpg" alt="Imagen de fondo" class="image">
        <div class="overlay">
          <h2 class="text-center">Nuestra Visión</h2>
          <div>
            <p class="text-center">
              Convertirnos en el principal destino de compras en línea para los mexicanos, líder en la industria minorista.
              Ofrecer experiencia de compra única y selección inigualable. Hacer que la moda y el estilo de vida sean accesibles
              para toda la República Mexicana.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>