<div id="body-about-us">

  <div style="text-align: center; background-color: #ffffff; padding: 15px;">
    <h1 style="font-size: 28px;">¡Hola! ¿Primera vez en StyloFJ?</h1>
    <p style="font-size: 18px;">Calma, aquí te explicamos lo básico.</p>
  </div>
  
  <div class="container custom-container-1">
    <!-- Contenedor 1 -->
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="image-container">
                <!-- Imagen con ajuste de proporción -->
                <img src="assets/imagenes/Modelos/fondomodelo.jpg" alt="Imagen de fondo" class="image">
                <div class="overlay">
                    <!-- Contenedor con fondo transparente -->
                    <div class="transparent-container">
                        <!-- Rectángulos blancos -->
                        <div class="rectangles">
                            <!-- Primer rectángulo: 200x50px -->
                            <div class="rectangle rectangle1">
                                <h3>¿Quiénes somos?</h3>
                                <p>
                                    Somos una empresa dedicada a la venta de ropa americana a menudeo, con una amplia variedad de marcas y la mejor calidad. 
                                    Con prendas nuevas y seminuevas, nos mantenemos constantemente a la vanguardia de la moda e innovación permanente.
                                </p>
                            </div>
                            
                            <!-- Segundo y tercer rectángulo: 95x200px -->
                            <div class="rectangle-row">
                                <div class="rectangle rectangle2">
                                    <h3>Misión</h3>
                                    <p>
                                        Lograr la completa satisfacción de nuestros clientes, poniendo a su disposición prendas americanas nuevas y seminuevas 
                                        a un precio accesible, resolviendo eficientemente sus necesidades y contribuyendo al medio ambiente.
                                    </p>
                                </div>
                                <div class="rectangle rectangle3">
                                    <h3>Visión</h3>
                                    <p>
                                        Mantenernos a la vanguardia de las amplias tendencias en la moda que se transmiten a nuestra sociedad, desarrollando 
                                        a nuestro personal para posicionarnos entre los líderes del mercado.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container custom-container-2">
  <!-- Nueva fila para las imágenes -->
  <div class="row image-container-columns">
      <div class="col-md-6 image-columns">
          <div class="image-container">
              <h3 class="column-title">Antes de comprar, revisa nuestras políticas</h3>
              <img src="assets/imagenes/Politicas-compra.png" alt="Imagen izquierda" class="image">
          </div>
      </div>
      <div class="col-md-6 image-columns">
          <div class="image-container">
              <h3 class="column-title">Cómo comprar en StyloFj Online</h3>
              <img src="assets/imagenes/Mecanica-compra.png" alt="Imagen derecha" class="image">
          </div>
      </div>
  </div>
</div>



</div>
