<!-- Botón del carrito -->
<button type="button" class="btn btn-secondary" (click)="toggleCart()">
  <img src="assets/imagenes/carrito.png" alt="Carrito">
</button>


<!-- Ventana del carrito de compras -->
<div class="cart-popup" [class.show]="isCartVisible">
  <div class="cart-header">
      <h1>Carrito de Compras</h1>
      <button type="button" class="btn-close" (click)="toggleCart()" aria-label="Close"></button>
  </div>

  <div class="cart-body" [ngClass]="cartBodyClass">
      <!-- Lista de productos -->
      <div class="cart-items">
          <div class="cart-item">
              <div class="item-info">
                  <h4>Producto 1</h4>
                  <p>Cantidad: 1</p>
                  <p>Precio: $10.00</p>
              </div>
              <button class="remove-btn">Eliminar</button>
          </div>

          <div class="cart-item">
              <div class="item-info">
                  <h4>Producto 2</h4>
                  <p>Cantidad: 2</p>
                  <p>Precio: $15.00</p>
              </div>
              <button class="remove-btn">Eliminar</button>
          </div>

          <div class="cart-item">
              <div class="item-info">
                  <h4>Producto 3</h4>
                  <p>Cantidad: 1</p>
                  <p>Precio: $20.00</p>
              </div>
              <button class="remove-btn">Eliminar</button>
          </div>

          <div class="cart-item">
              <div class="item-info">
                  <h4>Producto 4</h4>
                  <p>Cantidad: 2</p>
                  <p>Precio: $15.00</p>
              </div>
              <button class="remove-btn">Eliminar</button>
          </div>

          <div class="cart-item">
              <div class="item-info">
                  <h4>Producto 5</h4>
                  <p>Cantidad: 1</p>
                  <p>Precio: $20.00</p>
              </div>
              <button class="remove-btn">Eliminar</button>
          </div>
      </div>
  </div>

  <!-- Resumen del carrito -->
  <div class="cart-summary">
      <div class="cart-summary-content">
          <!-- Precio total -->
          <span class="total-price">Total: $60.00</span>

          <!-- Botón de proceder al pago -->
          <button class="checkout-btn">Proceder al Pago</button>
      </div>
  </div>
</div>
