<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 mb-4" *ngFor="let product of products">
      <div class="product-card">
        <!-- Imagen del producto -->
        <img [src]="product.image" alt="{{ product.name }}" class="img-fluid">

        <!-- Nombre del producto -->
        <h5 class="product-name">{{ product.name }}</h5>

        <!-- Precio del producto -->
        <p class="product-price">{{ product.price | currency }}</p>

        <!-- Marca del producto -->
        <p class="product-brand">{{ product.brand }}</p>

        <!-- Tipo de tela del producto -->
        <p class="product-fabric">{{ product.fabric }}</p>

        <!-- Talla del producto -->
        <p class="product-size"> {{ product.size }}</p>
      </div>
    </div>
  </div>
</div>
