/* Contenedor de tarjetas */
.container {
  margin-top: 15px; /* Margen superior de 10px */
}

.product-grid {
  display: flex; /* Cambiar a flexbox para igualar la altura de las tarjetas */
  flex-wrap: wrap; /* Permitir que las tarjetas se ajusten a varias filas */
  gap: 20px; /* Espaciado entre tarjetas */
}

/* Tarjeta de producto */
.product-card {
  display: flex; /* Hacer que el contenedor de la tarjeta sea flexible */
  flex-direction: column; /* Colocar los elementos en columna */
  background-color: #faf7f0f6; /* Fondo de tarjetas*/
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 100%; /* Hacer que las tarjetas ocupen el mismo alto */
  font-size: 18px;
}

/* Para mantener la imagen con un alto máximo, pero haciendo que la tarjeta se ajuste */
.product-card img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Otros estilos... */
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.modal .product-name {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Máximo de 3 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  max-width: 100%;
}

.product-name{
  margin-top: 8px;
  font-size: 18px;
  }


.product-price {
  color: #43bd2a; 
  font-size: 1.1rem; 
  font-weight: bold; 
  margin: 5px 0; 
  text-align: center;
}


/* Responsivo */
@media (max-width: 1024px) {
  .product-grid {
    flex-direction: row; /* Asegúrate de que se mantenga el diseño en filas */
  }
}

@media (max-width: 768px) {
  .product-grid {
    flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
  }
}
