<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col" class="th-center">
        <p class="text-left">ENTREGA A DOMICILIO SOLO DISPONIBLE EN CHAMPOTÓN</p>
      </th>
      <th scope="col">
        <div class="nav justify-content-center">
          <div class="nav-item">
            <a class="nav-link" href="#"><app-inicio-sesion></app-inicio-sesion></a>
          </div>
          <button type="button" class="btn btn-secondary">Carrito</button>
          <div class="nav carrito" (click)="onToggleCart()"></div>
        </div>
      </th>
    </tr>
  </thead>
</table>



<div class="container">
  <ul class="nav justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="assets/imagenes/StyloFJBoutiqueLong.png" alt="" width="300" height="165" style="object-fit: contain;">
    </a>
  </ul>
</div>

<div class="container">
  <div class="categories-container">
    <ul class="nav justify-content-center">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
          type="button" role="tab" aria-controls="nav-home" aria-selected="true">Bienvenida</button>
        <button class="nav-link" id="nav-novedades-tab" data-bs-toggle="tab" data-bs-target="#nav-novedades" 
          type="button" role="tab" aria-controls="nav-novedades" aria-selected="false">Novedades</button>
        <button class="nav-link" id="nav-moda-tab" data-bs-toggle="tab" data-bs-target="#nav-moda" type="button"
          role="tab" aria-controls="nav-moda" aria-selected="false">Dama</button>
        <button class="nav-link" id="nav-caballero-tab" data-bs-toggle="tab" data-bs-target="#nav-caballero" 
          type="button" role="tab" aria-controls="nav-caballero" aria-selected="false">Caballero</button>
        <button class="nav-link" id="nav-temporada-tab" data-bs-toggle="tab" data-bs-target="#nav-temporada" 
          type="button" role="tab" aria-controls="nav-temporada" aria-selected="false">Ropa de temporada</button>
        <button class="nav-link" id="nav-quienes-somos-tab" data-bs-toggle="tab" data-bs-target="#nav-quienes-somos" 
          type="button" role="tab" aria-controls="nav-quienes-somos" aria-selected="false">¿Quiénes somos?</button>
        

      </div>
    </ul>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <app-body-home></app-body-home>
      </div>
      <div class="tab-pane fade" id="nav-moda" role="tabpanel" aria-labelledby="nav-moda-tab">
        <app-body-fashion></app-body-fashion>
      </div>
      <div class="tab-pane fade" id="nav-novedades" role="tabpanel" aria-labelledby="nav-novedades-tab">
        <p>Aún no hay novedades disponibles.</p>
      </div>
      <div class="tab-pane fade" id="nav-caballero" role="tabpanel" aria-labelledby="nav-caballero-tab">
        <p>Explora la moda para caballero.</p>
      </div>
      <div class="tab-pane fade" id="nav-temporada" role="tabpanel" aria-labelledby="nav-temporada-tab">
        <p>Ropa de temporada disponible próximamente.</p>
      </div>
      <div class="tab-pane fade" id="nav-quienes-somos" role="tabpanel" aria-labelledby="nav-quienes-somos-tab">
        <app-body-about-us></app-body-about-us>
      </div>
    </div>
  </div>
</div>