<!-- Contenedor de la franja superior -->
<div class="container-fluid top-bar">
  <div class="row">
    <div class="col-md-12 th-center">
      <p class="text-left">¡Entregas a domicilio!, Disponible solo en Champotón.</p>
    </div>
  </div>
</div>

<!-- Contenedor donde se reacomodará el logo y categorías -->
<div class="container-fluid button-bar" [ngClass]="{'fixed': isFixed}">
  <div class="row flex-wrap justify-content-center align-items-center">

    <!-- Logo con animación -->
    <div class="col-md-auto image-container">
      <a class="navbar-brand" href="#">
        <img src="assets/imagenes/StyloFJBoutiqueLong.png" alt="Logo Stylo" class="scale-down-tl logo">
      </a>
    </div>

    <!-- Categorías -->
    <div class="col-md-auto">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <!-- Botones de categorías -->
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Bienvenida</button>
        <!-- Resto de las categorías -->
      </div>
    </div>

    <!-- Inicio de sesión y carrito -->
    <div class="col-md-auto new-container">
      <div class="nav">
        <div class="nav-item">
          <a class="nav-link" href="#" style="padding: 0; display: inline-flex; align-items: center;">
            <app-inicio-sesion></app-inicio-sesion>
          </a>
        </div>
        <button type="button" class="btn btn-secondary" (click)="onToggleCart()"
          style="display: flex; align-items: center; justify-content: center; padding: 10px; height: 50px;">
          <img src="assets/imagenes/carrito.png" alt="Carrito" style="width: 25px; height: 25px;">
        </button>
        <div class="nav carrito"></div>
      </div>
    </div>

  </div>
</div>
